/*SECTION AGENDAMENTO*/

#calendario{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /*background-color: blue;*/
}

#calendario input#input-data[type="date"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
}


/* Estilo para a caixa dos botões */
#caixa-horarios {
    display: flex;
    border: 1px solid black;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
    min-height: 200px;
}

/* Estilo para os botões de horário que o JS vai criar */
.btn-horario {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
}

.btn-horario:hover {
    background-color: #45a049;
}