#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

#titulo input#input-data-pendente[type="date"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
}

#titulo button#btn-buscar-pendente {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
}

#data-pendente{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    margin-top: 5px;
    margin-right: 20px;
}


#container{
    margin-top: 20px;
    width: 200vh;
    display: flex;
    flex-wrap: wrap;
    border: none;
    gap: 15px;
    background-color: red;
}



.caixa-horarios-pendentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #334155;
    width: 65vh;
    height: 60vh;
    background-color: #222B4C;
    color: #fff;

}